@model BitsBlog.CMS.Web.Models.ViewModels.PasswordViewModel
           
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_UserAccountLayout.cshtml";
}

<div id="right-column-content">
<div id="form-message-area">
<span class="successTextStyle">@ViewBag.SuccessMessage</span>
<span class="errorTextStyle">@ViewBag.ErrorMessage</span>
</div>

@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { id = "ChangePasswordForm" }))
{ 
   <span class="errorTextStyle">@Html.ValidationSummary("Ooops, please correct the following errors. Either you have entered invalid values or left required fields blank.")</span>
    <fieldset>
        <div class="settings-page-section">
        <h3 class="settings-section-header">Change Password</h3>
        <span class="instructional-text">Password must be 10 characters long, must contain at least one capital letter, must contain letters and numbers and at least one special character.</span>
            <div class="form-field">
                <label for="Password">Current Password<span class="required-mark">*</span></label>
                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "textBox-large" })
            </div> 
            <div class="form-field">
                <label for="Password">New Password<span class="required-mark">*</span></label>
                @Html.PasswordFor(model => model.NewPassowrd, new { @class = "textBox-large" })
            </div>
            <div class="form-field">
                <label for="ComparePassword">Confirm New Password<span class="required-mark">*</span></label>
                @Html.PasswordFor(model => model.ComparePassword, new { @class = "textBox-large" })
            </div> 
        </div>
        @Html.Partial("_FormActionButtonControl", ViewData)
    </fieldset> 
}

</div>
